<div id="login-bg" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header *ngIf="!loading">
      <mat-card-title>{{'LOGIN' | translate}}</mat-card-title>
    </mat-card-header>

    <form class="example-form" *ngIf="!loading" style="margin-top: 10px">
    <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="example@gmail.com" [formControl]="usernameFormControl">
          <mat-error *ngIf="usernameFormControl.hasError('required')">{{'USERNAME REQ' | translate}}</mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('pattern')">{{'USERNAME VALID' | translate}}</mat-error>
          <mat-hint>{{usernameFormControl.value?.sound}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" [placeholder]="'PASSWORD' | translate" [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('required')">{{'PASSWORD REQ' | translate}}</mat-error>
          <mat-hint>{{passwordFormControl.value?.sound}}</mat-hint>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button  class="btn-block" (click)="onSubmit()">{{'CONFIRM' | translate}}</button>
    </form>
    <mat-progress-spinner style="text-align: center" *ngIf="loading"
                          color="primary"
                          mode="indeterminate">
    </mat-progress-spinner>

    <mat-card-footer *ngIf="!loading" style="margin-top: 15px!important;"><a style="text-decoration: none; color: black; padding-left: 130px;" [routerLink]="['/']">{{'BACK' | translate}}</a></mat-card-footer>
  </mat-card>

</div>

